name: Make Release
on:
  workflow_dispatch:
    inputs:
      version:
        type: string
        description: version
  push:
    tags:
      - '*.*.*'
        
env:
  GITHUB_TOKEN: ${{ github.token }}
  MANIFEST: 'dlg_blender_addon/blender_manifest.toml'

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - name: Checkout
      uses: actions/checkout@v6

    - name: Get manifest version
      id: toml
      uses: cssnr/toml-action@v1
      with:
        file: ${{ env.MANIFEST }}
        key: $.version

    - run: echo "VERSION = $(git tag -l *.*.* | tail -n 1)"

    - run: |
        echo "Tag ver $VERSION"
        echo "Manifest ${{ steps.toml.outputs.value }}"
      
    - name: Update manifest version
      uses: cssnr/toml-action@v1
      with:
        file: ${{ github.env.MANIFEST }}
        key: $.version
        value: '${{ github.event.inputs.version }}'

    - name: Get Diff
      run: git diff
    #- name: Commit files
    #  run: |
    #    git config --local user.email "${{ github.actor }}@users.noreply.github.com"
    #    git config --local user.name "${{ github.actor }}"
    #    git add -A
    #   git commit -m "Updated version to ${{ github.ref_name }}"
    #    git push
