name: Make Release
on:
  workflow_dispatch:
    inputs:
      version:
        type: string
        description: Version
        required: true
        
env:
  GITHUB_TOKEN: ${{ github.token }}
  ADDON_NAME: 'dlg_blender_addon'
  VERSION: ${{ github.event.inputs.version }}
  VERSION_REGEX: '[0-9]+\.[0-9]+\.[0-9]+($|[-\+][a-zA-Z0-9]+)($|\+[a-zA-Z0-9]+$)' # MAJOR.MINOR.PATCH[-PRERELEASE][+METADATA]

jobs:
  release:
    name: Make Release
    runs-on: ubuntu-slim
    permissions:
      contents: write
    steps:
    - name: Validate input version
      run: |
        if ! echo "${{ env.VERSION }}" | grep -E "${{ env.VERSION_REGEX }}" &>/dev/null; then
          echo "Error: New version is invalid! Must be MAJOR.MINOR.PATCH[-PRERELEASE][+METADATA] (for example, 1.0.0, 1.0.0-rc, or 1.0.0+75d0a77)."
          exit 1
        fi
        
    - name: Checkout
      uses: actions/checkout@v6
      with:
        fetch-depth: 0

    - name: Set variables
      run: |
        echo "MANIFEST_PATH=${{ env.ADDON_NAME }}/blender_manifest.toml" >> "$GITHUB_ENV"
        echo "ARCHIVE_NAME=${{ env.ADDON_NAME}}-${{ env.VERSION }}.zip" >> "$GITHUB_ENV"
      
    - name: Check existing tags
      id: does-tag-exist
      run: |
        if git show-ref --tags "${{ env.VERSION }}" --quiet; then
          echo "result=true" >> "$GITHUB_OUTPUT"
          echo "Tag ${{ env.VERSION }} already exists. Skipping manifest update."
        else
          echo "result=false" >> "$GITHUB_OUTPUT"
        fi

    - name: Update manifest version
      id: manifest-update
      if: steps.does-tag-exist.outputs.result != 'true'
      run: sed -i -re "s/(^[[:space:]]*version[[:space:]]*=[[:space:]]*)([\"\']?).*/\1\"${{ env.VERSION }}\"/" $MANIFEST_PATH
    
    - name: Get manifest version
      id: manifest-version
      uses: cssnr/toml-action@v1
      with:
        file: $MANIFEST
        path: $.version

    - name: Validate manifest version match
      id: manifest-verify
      run: |
        if [[ "${{ steps.manifest-version.outputs.value }}" != "${{ env.VERSION }}" ]]; then
          echo "Error: Release and manifest versions mismatch."
          exit 1
        fi

    - name: Generate a changelog
      uses: orhun/git-cliff-action@v4
      id: git-cliff
      with:
        config: cliff.toml
        args: --verbose
      env:
        OUTPUT: CHANGELOG.md

    - name: Print the changelog
      run: |
        cat "${{ steps.git-cliff.outputs.changelog }}"
        exit 1
        
    - name: Commit manifest and create release tag
      id: commit-and-tag
      if: steps.manifest-update.outcome == 'success'
      run: |        
        git diff
        git config --local user.email "${{ github.actor }}@users.noreply.github.com"
        git config --local user.name "${{ github.actor }}"
        git add -A
        git commit -m "Set version to ${{ env.VERSION }}"
        git tag ${{ env.VERSION }}
        git push --tags

    - name: Checkout tag
      if: steps.commit-and-tag.outcome == 'skipped'
      run:
        git checkout tags/${{ github.event.inputs.version }}

    - name: Archive release
      uses: thedoctor0/zip-release@0.7.6
      with:
        type: 'zip'
        filename: '$ARCHIVE_NAME'
        path: '${{ env.ADDON_NAME }}/'
        
    - name: Upload release
      uses: ncipollo/release-action@v1.12.0
      with:
        artifacts: '$ARCHIVE_NAME'
        token: ${{ secrets.GITHUB_TOKEN }}
        tag: ${{ env.VERSION }}
        draft: true
