name: Make Release
on:
  workflow_dispatch:
    inputs:
      version:
        type: string
        description: Version
        required: true
        
env:
  GITHUB_TOKEN: ${{ github.token }}
  ADDON_NAME: 'dlg_blender_addon'
  MANIFEST: 'dlg_blender_addon/blender_manifest.toml'
  VERSION_REGEX: '[0-9]+\.[0-9]+\.[0-9]($|[-\+][a-zA-Z0-9]+)($|\+[a-zA-Z0-9]+$)' # MAJOR.MINOR.PATCH[-PRERELEASE][+METADATA]

jobs:
  release:
    name: Make Release
    runs-on: ubuntu-slim
    permissions:
      contents: write
    steps:
    - name: Validate input version
      run: |
        if ! echo "${{ github.event.inputs.version }}" | grep -E "${{ env.VERSION_REGEX }}" &>/dev/null; then
          echo "Error: New version is invalid! Must be MAJOR.MINOR.PATCH[-PRERELEASE][+METADATA] (for example, 1.0.0, 1.0.0-rc, or 1.0.0+75d0a77)."
          exit 1
        fi

    - name: Checkout
      uses: actions/checkout@v6
      with:
        fetch-depth: 0

    - name: Check existing tags
      id: does-tag-exist
      run: |
        if git show-ref --tags "${{ github.event.inputs.version }}" --quiet; then
          echo "result=1" >> "$GITHUB_OUTPUT"
          echo "Tag ${{ github.event.inputs.version }} already exists. Skipping manifest update."
        fi

    - name: Update manifest version
      id: manifest-update
      if: ! steps.does-tag-exist.outputs.result
      run: sed -i -re "s/(^[[:space:]]*version[[:space:]]*=[[:space:]]*)([\"\']?)[0-9]*\.[0-9]*\..*/\1\2$version\2/" ${{ env.MANIFEST }}
      env:
        version: ${{ github.event.inputs.version }}
    
    - name: Get manifest version
      id: manifest-version
      uses: cssnr/toml-action@v1
      with:
        file: ${{ env.MANIFEST }}
        path: $.version

    - name: Verify manifest
      id: manifest-verify
      run: |
        if [[ ${{ steps.manifest-version.outputs.value }}" != "${{ github.event.inputs.version }}" ]]; then
          echo "Error: Release and manifest versions mismatch."
          exit 1
        fi

    - name: Commit manifest
      if: steps.manifest-update.outcome != 'skipped'
      run: |
        git config --local user.email "${{ github.actor }}@users.noreply.github.com"
        git config --local user.name "${{ github.actor }}"
        git add -A
        git commit -m "Set version to ${{ github.event.inputs.version }}"
        
    - name: Diff
      run: git diff

    - name: Status
      run: git status
      
    #- name: Commit files
    #  run: |
    #    git config --local user.email "${{ github.actor }}@users.noreply.github.com"
    #    git config --local user.name "${{ github.actor }}"
    #    git add -A
    #   git commit -m "Updated version to ${{ github.ref_name }}"
    #    git push
