name: Make Release
on:
  workflow_dispatch:
    inputs:
      version:
        type: string
        description: Version
        required: true
      draft:
        type: boolean
        description: Draft Release
        default: true
        
env:
  GITHUB_TOKEN: ${{ github.token }}
  ADDON_NAME: 'dlg_blender_addon'
  VERSION: ${{ github.event.inputs.version }}
  VERSION_REGEX: '[0-9]+\.[0-9]+\.[0-9]+($|[-\+][a-zA-Z0-9]+)($|\+[a-zA-Z0-9]+$)' # MAJOR.MINOR.PATCH[-PRERELEASE][+METADATA]
  MANIFEST_PATH:
  ARTIFACT_NAME:

jobs:
  release:
    name: Make Release
    runs-on: ubuntu-slim
    permissions:
      contents: write
    steps:
    - name: Validate inputs and set variables
      run: |
        if ! echo "${{ env.VERSION }}" | grep -E "${{ env.VERSION_REGEX }}" &>/dev/null; then
          echo "Error: Provided version is invalid! Must be MAJOR.MINOR.PATCH[-PRERELEASE][+METADATA] (for example, 1.0.0, 1.0.0-rc, or 1.0.0+75d0a77)."
          exit 1
        fi
        echo "MANIFEST_PATH=${{ env.ADDON_NAME }}/blender_manifest.toml" >> "$GITHUB_ENV"
        echo "ARTIFACT_NAME=${{ env.ADDON_NAME}}-${{ env.VERSION }}.zip" >> "$GITHUB_ENV"
              
    - name: Checkout
      uses: actions/checkout@v6
      with:
        fetch-depth: 0

    - name: Check existing tags
      id: does-tag-exist
      run: |
        if git show-ref --tags "${{ env.VERSION }}" --quiet; then
          echo "result=true" >> "$GITHUB_OUTPUT"
          echo "Tag ${{ env.VERSION }} already exists. Skipping manifest update."
        else
          echo "result=false" >> "$GITHUB_OUTPUT"
        fi

    - name: Update manifest version
      id: manifest-update
      if: steps.does-tag-exist.outputs.result != 'true'
      run: sed -i -re "s/(^[[:space:]]*version[[:space:]]*=[[:space:]]*)([\"\']?).*/\1\"${{ env.VERSION }}\"/" ${{ env.MANIFEST_PATH }}
    
    - name: Get manifest version
      id: manifest-version
      uses: cssnr/toml-action@v1
      with:
        file: '${{ env.MANIFEST_PATH }}'
        path: '$.version'

    - name: Verify manifest version match
      id: manifest-verify
      run: |
        if [[ "${{ steps.manifest-version.outputs.value }}" != "${{ env.VERSION }}" ]]; then
          echo "Error: Release and manifest versions mismatch."
          exit 1
        fi

    - name: Commit manifest and create release tag
      id: commit-and-tag
      if: steps.manifest-update.outcome == 'success'
      run: |        
        git diff
        git config --local user.email "${{ github.actor }}@users.noreply.github.com"
        git config --local user.name "${{ github.actor }}"
        git add -A
        git commit -m "Set version to ${{ env.VERSION }}"
        git tag ${{ env.VERSION }}
        git push --tags

    - name: Checkout tag
      if: steps.commit-and-tag.outcome == 'skipped'
      run:
        git checkout tags/${{ github.event.inputs.version }}
        
    - name: Get previous release tag
      id: previous-tag
      run:
        echo "tag=$(git describe --abbrev=0 --match='*.*.*' --tags `git rev-list --tags --skip=1 --max-count=1`)" >> "$GITHUB_OUTPUT"

    - name: Archive release
      uses: thedoctor0/zip-release@0.7.6
      with:
        type: 'zip'
        filename: ${{ env.ARTIFACT_NAME }}
        path: '${{ env.ADDON_NAME }}/'
        
    - name: Upload release
      uses: ncipollo/release-action@v1.12.0
      with:
        artifacts: ${{ env.ARTIFACT_NAME }}
        token: ${{ secrets.GITHUB_TOKEN }}
        tag: ${{ env.VERSION }}
        draft: ${{ github.event.inputs.draft }}
        generateReleaseNotes: true
        generateReleaseNotesPreviousTag: ${{ steps.previous-tag.outputs.tag }}

