name: Make Release
on:
  workflow_dispatch:
    inputs:
      version:
        type: string
        description: version
  push:
    branches:
      - main
        
env:
  GITHUB_TOKEN: ${{ github.token }}
  MANIFEST: 'dlg_blender_addon/blender_manifest.toml'

jobs:
  release:
    name: Make Release
    runs-on: ubuntu-slim
    permissions:
      contents: write
    steps:
    - name: Checkout
      uses: actions/checkout@v6
      with:
        fetch-depth: 0
        
    - name: Get manifest version
      id: manifest-version
      uses: cssnr/toml-action@v1
      with:
        file: ${{ env.MANIFEST }}
        path: $.version
        
    - name: Get release info
      id: info
      run: |
        echo "version=$latest-tag" >> "$GITHUB_OUTPUT"
        echo "version-abbrev=$abbrev-tag" >> "$GITHUB_OUTPUT"
        echo "is-tag-on-head=$(git describe --tags --exact-match main 2>/dev/null && echo 1)" >> "$GITHUB_OUTPUT"
        echo "should-update-manifest=$([ '$latest-tag' = ${{ steps.manifest-version.outputs.value }} ] || echo 1)" >> "$GITHUB_OUTPUT"
      env:
        latest-tag: $(git describe --tags --match='*.*.*' --abbrev=0 main)
        abbrev-tag: $(git describe --tags --match='*.*.*' main)
        
    - name: Return info
      run: |
        echo "${{ steps.info.outputs.tag-version }}"
        echo "${{ steps.info.outputs.tag-version-hash }}"
        echo "is-tag-on-head: $([ ${{ steps.info.outputs.is-tag-on-head }} ] && echo true || echo false)"
        echo "should-update-manifest: $([ ${{ steps.info.outputs.should-update-manufest }} ] && echo true || echo false)"      
#    - name: Update manifest version
#      uses: cssnr/toml-action@v1
#      with:
#        file: ${{ github.env.MANIFEST }}
#        key: $.version
#        value: '${{ github.event.inputs.version }}'

#    - name: Get Diff
#      run: git diff
    #- name: Commit files
    #  run: |
    #    git config --local user.email "${{ github.actor }}@users.noreply.github.com"
    #    git config --local user.name "${{ github.actor }}"
    #    git add -A
    #   git commit -m "Updated version to ${{ github.ref_name }}"
    #    git push
