name: Make Release
on:
  workflow_dispatch:
    inputs:
      version:
        type: string
        description: version
  push:
    branches:
      - main
        
env:
  GITHUB_TOKEN: ${{ github.token }}
  MANIFEST: 'dlg_blender_addon/blender_manifest.toml'

jobs:
  release:
    name: Make Release
    runs-on: ubuntu-slim
    permissions:
      contents: write
    steps:
    - name: Checkout
      uses: actions/checkout@v6
      with:
        fetch-depth: 0
        
    - name: Get manifest version
      id: manifest-version
      uses: cssnr/toml-action@v1
      with:
        file: ${{ env.MANIFEST }}
        path: $.version
        
    - name: Get release info
      id: release-info
      run: |
        echo "version=$(git describe --tags --match='*.*.*' --abbrev=0 main)" >> "$GITHUB_OUTPUT"
        echo "version_abbrev=$(git describe --tags --match='*.*.*' main)" >> "$GITHUB_OUTPUT"
        echo "is_tag_on_head=$(git describe --tags --exact-match main 2>/dev/null && echo true || echo false)" >> "$GITHUB_OUTPUT"

    - name: Update manifest version
      id: manifest-update
      if: steps.manifest-version.outputs.value != steps.release-info.outputs.version
      run: sed -i -re "s/(^[[:space:]]*version[[:space:]]*=[[:space:]]*)([\"\']?)[0-9]*\.[0-9]*\..*/\1\2$version\2/" ${{ env.MANIFEST }}
      env:
        version: ${{ steps.release-info.outputs.version }}

    - name: Create release branch
      if: ${{ steps.manifest-update.outcome != 'skipped' }}
      run: |
        git config --local user.email "${{ github.actor }}@users.noreply.github.com"
        git config --local user.name "${{ github.actor }}"
        git add -A
        git commit -m "Set version to $version"
      env:
        ver: ${{ steps.release-info.outputs.version }}
    
    - name: Diff
      run: git diff

    - name: Status
      run: git status
      
    #- name: Commit files
    #  run: |
    #    git config --local user.email "${{ github.actor }}@users.noreply.github.com"
    #    git config --local user.name "${{ github.actor }}"
    #    git add -A
    #   git commit -m "Updated version to ${{ github.ref_name }}"
    #    git push
