name: Make Release
on:
  workflow_dispatch:
    inputs:
      version:
        type: string
        description: Version
        
env:
  GITHUB_TOKEN: ${{ github.token }}
  ADDON_NAME: 'dlg_blender_addon'
  MANIFEST: 'dlg_blender_addon/blender_manifest.toml'
  VERSION_REGEX: '[0-9]+\.[0-9]+\.[0-9]($|[-\+][a-zA-Z0-9]+)($|\+[a-zA-Z0-9]+$)' # MAJOR.MINOR.PATCH[-PRERELEASE][+METADATA]

jobs:
  release:
    name: Make Release
    runs-on: ubuntu-slim
    permissions:
      contents: write
    steps:
    - name: Validate input version
      run: |
        if echo "${{ github.event.inputs.version }}" | grep -E "${{ env.VERSION_REGEX }}" &>/dev/null; then
          echo "New version is invalid! Must be MAJOR.MINOR.PATCH[-PRERELEASE][+METADATA] (for example, 1.0.0, 1.0.0-rc, or 1.0.0+75d0a77).
          exit 1
        fi

    - name: Checkout
      uses: actions/checkout@v6
      with:
        fetch-depth: 0
        
    - name: Get manifest version
      id: manifest-version
      uses: cssnr/toml-action@v1
      with:
        file: ${{ env.MANIFEST }}
        path: $.version

    - name: Check existing tags
      id: does-tag-exist
      run: |
        echo "result=$(git show-ref --tags "${{ github.event.inputs.version }}" --quiet && echo 1" >> "$GITHUB_OUTPUT"

    - run: echo "Tag exists"
      if: ${{ steps.does-tag-exist.outputs.result }}

    - run: exit 0
        
    - name: Get release info
      id: release-info
      run: |
        echo "version=$(git describe --tags --match='*.*.*' --abbrev=0 main)" >> "$GITHUB_OUTPUT"
        echo "version_abbrev=$(git describe --tags --match='*.*.*' main)" >> "$GITHUB_OUTPUT"
        echo "is_tag_on_head=$(git describe --tags --exact-match main 2>/dev/null && echo true || echo false)" >> "$GITHUB_OUTPUT"

    - name: Update manifest version
      id: manifest-update
      if: steps.manifest-version.outputs.value != steps.release-info.outputs.version
      run: sed -i -re "s/(^[[:space:]]*version[[:space:]]*=[[:space:]]*)([\"\']?)[0-9]*\.[0-9]*\..*/\1\2$version\2/" ${{ env.MANIFEST }}
      env:
        version: ${{ github.event.inputs.version }}
    
    - name: Get new manifest version
      id: manifest-new-version
      uses: cssnr/toml-action@v1
      with:
        file: ${{ env.MANIFEST }}
        path: $.version

    - name: Verify manifest
      id: manifest-verify
      run: |
        if [[ "${{ steps.release-info.outputs.version }}" != "${{ steps.manifest-new-version.outputs.value }}" ]]; then
          echo "Error: Release and manifest versions mismatch."
          exit 1
        fi

    - name: Commit manifest
      if: ${{ steps.manifest-update.outcome != 'skipped' }}
      run: |
        git config --local user.email "${{ github.actor }}@users.noreply.github.com"
        git config --local user.name "${{ github.actor }}"
        git add -A
        git commit -m "Set version to ${{ steps.release-info.outputs.version }}"
        
    - name: Diff
      run: git diff

    - name: Status
      run: git status
      
    #- name: Commit files
    #  run: |
    #    git config --local user.email "${{ github.actor }}@users.noreply.github.com"
    #    git config --local user.name "${{ github.actor }}"
    #    git add -A
    #   git commit -m "Updated version to ${{ github.ref_name }}"
    #    git push
