name: Make Release
on:
  workflow_dispatch:
    inputs:
      version:
        type: string
        description: version
  push:
    tags:
      - '*.*.*'
        
env:
  GITHUB_TOKEN: ${{ github.token }}
  MANIFEST: 'dlg_blender_addon/blender_manifest.toml'

jobs:
  release:
    name: Make Release
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - uses: actions/checkout@v6
      with:
        fetch-depth: 0
        
    - name: Get manifest version
      id: toml
      uses: cssnr/toml-action@v1
      with:
        file: ${{ env.MANIFEST }}
        path: $.version
        
    - name: Get info
      id: info
      run: |
        echo "tag-version-hash=$tag-version-hash >> "$GITHUB_OUTPUT"
        echo "tag-version=$tag-version" >> "$GITHUB_OUTPUT"
      env:
        tag-version-hash: $(git describe --tags --match='*.*.*' main)
        tag-version: $(git describe --tags --match='*.*.*' --abbrev 0 main)

    - name: Return info
      run: |
        echo "${{ steps.info.outputs.tag-version }}"
        echo "${{ steps.info.outputs.tag-version-hash }}"
      
#    - name: Update manifest version
#      uses: cssnr/toml-action@v1
#      with:
#        file: ${{ github.env.MANIFEST }}
#        key: $.version
#        value: '${{ github.event.inputs.version }}'

#    - name: Get Diff
#      run: git diff
    #- name: Commit files
    #  run: |
    #    git config --local user.email "${{ github.actor }}@users.noreply.github.com"
    #    git config --local user.name "${{ github.actor }}"
    #    git add -A
    #   git commit -m "Updated version to ${{ github.ref_name }}"
    #    git push
