name: Update
on:
  workflow_dispatch:
  release:
    types: [ published, created, deleted ]
        
env:
  GITHUB_TOKEN: ${{ github.token }}
  ADDON_NAME: 'dlg_blender_addon'

jobs:
  release:
    name: Update index
    runs-on: ubuntu-slim
    permissions:
      contents: write
    steps:
      - name: git-get-release-action
        id: release
        uses: cardinalby/git-get-release-action@1.2.4
        with:
          latest: true
          
      - name: checkout
        uses: actions/checkout@v6
        with: 
          ref: extension-repository
          fetch-depth: 0

      - name: Do stuff
        run: |
          git checkout tags/${{ steps.release.outputs.tag_name }} -- dlg_blender_addon/blender_manifest.toml
          python update_repository.py --manifest "dlg_blender_addon/blender_manifest.toml" --url "$url" --size "$size" --digest "$digest" repository/index.json
          git diff
          git status          
        env:
          digest: ${{ fromJson(steps.release.outputs.assets)[0].digest }}
          size: ${{ fromJson(steps.release.outputs.assets)[0].size }}
          url: ${{ fromJson(steps.release.outputs.assets)[0].browser_download_url }}
          
      - name: Commit manifest
        id: commit
        uses: IAreKyleW00t/verified-bot-commit@v2.1.2
        with:
          ref: extension-repository
          files: 'repository/index.json'
          message: 'Set latest repository version to ${{ steps.release.outputs.tag_name }}'

      - run: |
          git push origin extension-repository
